{{ auto_docs.title() }}

{{ auto_docs.description() }}

{{ auto_docs.requirements() }}

{{ auto_docs.platforms() }}

{{ auto_docs.defaults() }}

{{ auto_docs.vars() }}

{{ auto_docs.license() }}

{{ auto_docs.contributors() }}
