{{ auto_docs.title() }}

{{ auto_docs.description() }}

{{ auto_docs.requiremenents() }}

{{ auto_docs.platforms() }}

{{ auto_docs.defaults() }}

{{ auto_docs.vars() }}

{{ auto_docs.license() }}

{{ auto_docs.contributors() }}