#jinja2: trim_blocks: "True", lstrip_blocks: "True"

{# TITLE #}
{%- macro title() -%}
# {{ documentation_vars.meta.galaxy_info.role_name }}
{%- endmacro %}

{# DESCRIPTION #}
{%- macro description() -%}
{{ documentation_vars.meta.galaxy_info.description }}
{%- endmacro %}

{# REQUIREMENTS #}
{%- macro requirements() -%}
## Requirements

- Ansible >= {{ documentation_vars.meta.galaxy_info.min_ansible_version }}
{%- endmacro %}

{# PLATFORMS #}
{%- macro platforms() -%}
### Supported platforms

```yml
{%- for platform in documentation_vars.meta.galaxy_info.platforms %}
- {{ platform.name }}
{%-   for version in platform.versions %}
  - {{ version }}
{%-    endfor %}
{%- endfor %}
```
{%- endmacro %}

{# DEFAULTS #}
{%- macro defaults() %}
{%- if documentation_vars.defaults and documentation_vars.defaults | length > 0 -%}
## Default role variables

| Name | Description | Type | Default |
| -----| ----------- | :--: | :-----: |
{%   for default, values in documentation_vars.defaults.items() -%}
| {{ default }} | {{ values.description }} | {{ values.type }} | {% if (values.default is iterable and values.default|length == 0) or values.default %}`{{ values.default }}`{% else %}required{% endif %} |
{%   endfor %}
**All default variables are described in [defaults/main.yml](defaults/main.yml) file.**
{%- endif %}
{%- endmacro %}

{# VARS #}
{%- macro vars() %}
{%- if documentation_vars.vars and documentation_vars.vars | length > 0 -%}
## Static role variables

This section describes static variables implemented in the role.

{%   if documentation_vars.vars.main and documentation_vars.vars.main.data | length > 0 -%}
### Main variables

| Name | Description | Type | Default |
| -----| ----------- | :--: | :-----: |
{%     for var, values in documentation_vars.vars.main.data.items() -%}
  | {{ var }} | {{ values.description }} | {{ values.type }} | `{{ values.default }}` |
{%     endfor %}
**All static main variables are described in [vars/main.yml](vars/main.yml) file.**

{%- set any=documentation_vars.vars.__setitem__("main", dict) %}
{%-   endif %}

{#- OTHERS #}
{%-   for file_name, this in documentation_vars.vars.items() %}
{%-     if file_name and this.data |  length > 0 %}

### {{ file_name }} variables

| Name | Description | Type | Default |
| -----| ----------- | :--: | :-------: |
{%       for var, values in this.data.items() -%}
  | {{ var }} | {{ values.description }} | {{ values.type }} | `{{ values.default }}` |
{%       endfor %}
**All static {{ file_name }} variables are described in [vars/{{ this.filename }}](vars/{{ this.filename }})**

{%-     endif %}
{%-   endfor %}
{%- endif %}
{%- endmacro %}

{# LICENSE #}
{%- macro license() -%}
## License

[{{ documentation_vars.meta.galaxy_info.license }}](LICENSE)

{%- endmacro %}

{# CONTRIBUTORS #}
{%- macro contributors() -%}
## Support

{{ documentation_vars.meta.galaxy_info.author }}
{%- endmacro %}
